:root {
    --primary-color: #ee4d3d;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --text-color-header-notify: #888;
    --boder-color-notify: #D3D3D3;
    --notify: rgba(238, 75, 43, 0.1);
    --notify-item-hover: #f7f7f7;
    --modal-ovelay-color: rgba(0, 0, 0, 0.4);
    --btn-disable: #c3c3c3;
    --btn-hover: rgba(0, 0, 0, 0.05);
    --bg-color-auth-form-social: #f5f5f5;
    --color-logo-facebook: #3a5a98;
}

* {
    box-sizing: inherit;
    /*Kế thừa lại*/
}

html {
    /* 
        Mặc định của trình duyệt là 16px 
            Lấy 62.5% tương ứng với 10px dễ hàng cho việc tùy chọn kích thước style hơn
    */
    font-size: 62.5%;
    /* Đặt chiều cao phổ biến cho các dòng chữ trong toàn bộ website */
    list-style: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Chuẩn bị trước cho responsive */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

/* Trường hợp muốn độ rộng của phần tử 100% */
.grid__full-width {
    width: 100%;
}

/* 
    Row cho phép các phần tử là con trực tiếp nằm cùng trên một hàng ngang
    Tổng độ rộng phần tử con đó vượt quá độ rộng thì sẽ cho phần tử con xuống hàng
 */
.grid__row {
    display: flex;
    flex-wrap: wrap;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-form));
    }

    to {
        transform: scale(var(--growth-to));
    }
}

/* Modal */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear .1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--modal-ovelay-color);
}

.modal__body {
    --growth-form: 0.7;
    --growth-to: 1;
    position: relative;
    z-index: 1;
    margin: auto;
    animation: growth linear .1s;
}

/* Button style */

.btn {
    min-width: 142px;
    height: 34px;
    border: none;
    font-size: 1.5rem;
    background: none;
    border-radius: 3px;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
}

.btn.btn--normal:hover {
    background: var(--btn-hover);
}

.btn.btn--primary {
    background: var(--primary-color);
    color: var(--white-color);
}

.btn.btn--disable {
    cursor: default;
    user-select: none;
    filter: brightness(80%);
    /*Giảm độ sáng*/
    background: var(--btn-disable);
    color: var(--text-color-header-notify);
}

.btn--with-icon {}

.btn.btn--size-s {
    height: 30px;
    font-size: 1.2rem;
    padding: 0 8px;
}