.app {}

/* Header */
.header {
    height: 120px;
    background: linear-gradient(to bottom, #f53e2d, #fe6432);
}

/* Header - navbar */
.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    margin: 8px 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.header__navbar-item {
    display: inline-block;
    margin: 0 8px;
    position: relative;
    min-height: 2rem;
    position: relative;
}

.header__navbar-item-link,
.header__navbar-item {
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 300;
}

.header__navbar-icon-link,
.header__navbar-item-link,
.header__navbar-item {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item-link:hover,
.header__navbar-item:hover {
    color: rgba(255, 255, 255, .7);
    cursor: pointer;
}

.header__navbar-item--has-notify:hover .header__notify,
.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__navbar-item-link {
    text-decoration: none;
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px
}

/* Class modify - font weight */
.header__navbar-item-link--bold {
    font-weight: 400;
}

/* Class modify - Thêm dấu gạch bên phải (separate: phân cách)*/
.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 1.6rem;
    background: var(--white-color);
    right: -0.9rem;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-item--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* Header QR code download app*/
.header__qr {
    width: 18.6rem;
    background: var(--white-color);
    position: absolute;
    left: 0;
    top: 118%;
    /*Là 100% chiều cao của phần tử chứa header__qr*/
    border-radius: 2px;
    padding: 8px;
    display: none;
    animation: fadeIn ease-in .25s;
}

/* Xử lý mất cầu nối hover hiển thị code */
.header__qr::after {
    content: "";
    position: absolute;
    top: -1rem;
    /*Dịch lên là cầu nối*/
    left: 0;
    width: 100%;
    height: 10px;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    height: 1.4rem;
    justify-content: space-between;
    padding: 0 11px;
}

/* .header__qr-download-img + .header__qr-download-img {
    margin-left: 10px;
} */

/* Header notification */
.header__notify {
    position: absolute;
    width: 404px;
    top: 150%;
    right: 0;
    background-color: var(--white-color);
    border: 1px solid var(--boder-color-notify);
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    /* transform-origin:để chỉ định góc bắt đầu hiển thị */
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
    /* Tối ưu quá các chuyển động trong animation */
    display: none;
}

@keyframes headerNotifyGrowth {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Arrow */
.header__notify::before {
    content: "";
    position: absolute;
    top: -32px;
    right: 10px;
    border-style: solid;
    border-width: 20px 25px;
    border-color: transparent transparent var(--white-color) transparent;
}

/* Tạo cầu nối hover */
.header__notify::after {
    content: "";
    position: absolute;
    width: 90px;
    height: 40px;
    top: -20px;
    right: 0;
}


.header__notify-header {
    height: 40px;
    user-select: none;
    /*Không cho người dùng copy*/
}

.header__notify-header h3 {
    margin: 0 0 0 12px;
    color: var(--text-color-header-notify);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 40px;
}

.header__notify-list {
    padding-left: 0;
    list-style-type: none;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background: var(--notify-item-hover);
}

.header__notify-link {
    display: flex;
    text-decoration: none;
    padding: 12px;
}

/* Notification chưa đọc */
.header__notify-item--new {
    background: var(--notify);
}

.header__notify-img {
    width: 48px;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-description,
.header__notify-name {
    margin: 0;
}

.header__notify-name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    line-height: 1.8rem;
}

.header__notify-description {
    font-size: 1.2rem;
    color: var(--text-color);
    line-height: 1.6rem;
}

.header__notify-footer {}

.header__notify-footer-btn {
    width: 100%;
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: var(--text-color);
    margin: auto;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}